body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 96%);
  color: #333;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  width: 100%;
}

main {
  margin-top: 50px;
  padding: 20px;
}

/* Cart Styles */
.cart {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-top: 0;
}

.cart ul {
  list-style: none;
  padding: 0;
}

.cart li {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.cart p {
  font-weight: bold;
  font-size: 1.2em;
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  margin: 0;
  font-size: 1.5em;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.cart-icon i {
  width: 30px;
  color: white;
}

#cart-count {
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.9em;
  padding: 2px 6px;
  font-weight: bold;
}