header {
  position: fixed;
  top: 0;
  width: 100vw;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

main {
  margin-top: 50px;
  padding: 20px;
}
  
.icon-cart{
  display: flex;
  float: right;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 240px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.product h3 {
  font-size: 1.2em;
  margin: 10px 0 5px;
}

.product p {
  font-size: 1em;
  margin: 0;
  color: #555;
}

#btn-add{
  margin-top: 10px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-title {
  margin: 0;
  font-size: 1.5em;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}


.cart-icon {
  position: relative;
  display: flex;
  align-items: center;
}

.cart-icon i {
  width: 30px;  
  color: white;  
}

#cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  font-size: 0.9em;
  padding: 2px 6px;
  font-weight: bold;
}